.Project {
    background-color: lightgrey;
    margin: 20px;
    width: 1000px;
    height: 120px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 50px;
    justify-content: space-evenly;
}

#decide {
    width: 70px;
    height: 40px;
    float: left;
    background-color: wheat;
}