.Set {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button{
    margin: 5px;
}

#amount {
    height: 10px;
}

.box{
    margin: 2px;
    margin-left: 4px;
}

.space{
    margin: 4px;
}